.container{
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
  margin-left: 600px;
  margin-right: 600px;
  background: white;
}

h1{
  color: darkblue;
  font-size: 40px;
}

body{
  margin-top:15px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}


.main-body {
  padding: 15px;
}

label {
  float: left;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 20px;
}

input {
  float: right;
  width: 100%;
  height: 30px;
}

button {
  padding: 15px 32px;
}

