body{
  margin-top:15px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}

img {
  border-radius: 50%;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
  float: left;
  padding: 1rem;
  margin: 10px;
}

.text-mutedfont-size-sm {
  padding-top: 20px;
}


.mt-3{
  text-align: center;
}

.card {
  background-color: white;
}

.card2 {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
  padding: 1rem;
  margin: 10px;
}


