
<div class="container">
  <div class="main-body">
    <div class="card">
      <img src="assets/img/theme/profile-cover.jpg" alt="Users-image" class="mat-radio-inner-circle" width="222">
      <div class="mt-3">
        <h4>
          {{ (users | async).firstName }}
        </h4>
        <div class="text-secondarymb-1">
          {{ (users | async).role }}
        </div>
        <div class="text-mutedfont-size-sm">
          {{ (users | async).employeeNumber }}
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ (users | async).firstName }} {{ (users | async).lastName }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ (users | async).email }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Employee Number</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ (users | async).employeeNumber }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Role</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ (users | async).role }}
        </div>
      </div>
    </div>
  </div>
</div>
