.showPatient{
  width: 50%;
  float: left;
  padding-left: 10;
  text-align: center;
}

.addPrescription{
  width: 50%;
  float: right;
  padding-right: 10;
  text-align: center;
}
 h1 {
   text-align: center;
 }
