<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <div class = "form-entry">
    <div class="form-items">
      <label for="firstName">First Name</label>
      <input type="text" class="mat-form-field" id="firstName" formControlName="firstName" required
             [value]="enteredFirstName">
      <p class="error-msg" *ngIf="patientForm.controls.firstName.invalid">*First Name is required</p>
    </div>
    <div class="form-items">
      <label for="lastName">Last Name</label>
      <input type="text" class="mat-form-field" id="lastName" formControlName="lastName" required
             [value]="enteredLastName">
      <p class="error-msg" *ngIf="patientForm.controls.lastName.invalid">*Last Name is required</p>
    </div>
  </div>
  <div class="form-entry">
    <div class="form-items">
      <label for="birthDate">Birth Date</label>
      <input type="text" class="mat-form-field" id="birthDate" formControlName="birthDate" required
             [value]="enteredBirthDate">
      <p class="error-msg" *ngIf="patientForm.controls.birthDate.invalid">*Birthdate is required</p>
    </div>
    <div class="form-items">
      <label for="gender">Gender</label>
      <input type="text" class="mat-form-field" id="gender" formControlName="gender" required
             [value]="enteredGender">
      <p class="error-msg" *ngIf="patientForm.controls.gender.invalid">*Gender is required
      and must be either male or female</p>
    </div>
  </div>
  <div class="form-entry">
    <div class="form-items">
      <label for="socialInsurance">Social Insurance</label>
      <input type="text" class="mat-form-field" id="socialInsurance" formControlName="socialInsurance" required
             [value]="enteredSocialInsurance">
      <p class="error-msg" *ngIf="patientForm.controls.socialInsurance.invalid">*Social Insurance Number
      is required and must be of the form: 123456789</p>
    </div>
    <div class="form-items">
      <label for="maritalStatus">Marital Status</label>
      <input type="text" class="mat-form-field" id="maritalStatus" formControlName="maritalStatus" required
             [value]="enteredMartialStatus">
      <p class="error-msg" *ngIf="patientForm.controls.maritalStatus.invalid">*Marital Status is required</p>
    </div>
  </div>
  <div class="form-entry">
    <div class="form-items">
      <label for="externalDoctorId">External Doctor Id</label>
      <input type="text" class="mat-form-field" id="externalDoctorId" formControlName="externalDoctorId"
             [value]="enteredExternalDoctorId">
    </div>
    <div class="form-items">
      <label for="doctorId">Doctor Id</label>
      <input type="text" class="mat-form-field" id="doctorId" formControlName="doctorId"
             [value]="enteredDoctorId">
    </div>
  </div>
  <button *ngIf="!edited" (click)="editForm()" class="button-edit">Edit</button>
  <button *ngIf="edited" (click)="saveForm()" [disabled]="patientForm.invalid"
          [ngClass]="!patientForm.invalid ? 'save-valid':'save-invalid'"
  >Save</button>
</form>




